/* نخلي الكونتينر منظم 3 في الصف */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 منتجات في كل صف */
  gap: 70px; /* مسافة بين العناصر */
  justify-items: center;
  align-items: start;
  padding: 20px;
  box-sizing: border-box;

  height: 100vh; /* ارتفاع الصفحة = ارتفاع الشاشة */
  overflow-y:visible; /* سكرول رأسي واحد */
  scroll-snap-type: y mandatory; /* يخلي كل صف يقف كأنه صفحة */
}

/* كل منتج */
.product-card {
  scroll-snap-align: start; /* يبدأ كل صف من فوق لما تعمل سكرول */
  width: 300px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.1);
}

/* الصورة */
.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card img:hover {
  transform: scale(1.1);
}

/* الإنبت */
.qty-input {
  width: 60px;
  margin: 8px auto;
  text-align: center;
}

/* الزرار */
.buy-btn {
  background: black;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.buy-btn:hover {
  background: #444;
}
