
<!-- <select 
  class="form-select" 
  aria-label="Default select example" 
  [(ngModel)]="SelectedID" 
  (ngModelChange)="SelectedID = +$event"    (change)="FilteratedPrds()">   ✅ مهم لتحويل القيمة إلى رقم -->
  <!-- <option [value]="cat.id" *ngFor="let cat of CatList">
    {{cat.name}}
  </option>
</select> -->

<!-- <h1>{{ SelectedID }}</h1>

<button class="btn btn-dark" (click)="ChangeID()">Change</button> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Imag</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>   
         <th scope="col"  style="text-align: center;">Count</th> 
         <th></th>
         <th>More</th>
         <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let p of PrdList ; let i=index"> -->
    <!-- <tr *ngFor="let p of PrdList ; index as i ; trackBy:PrdTrackBy" [hidden]="p.quantity===0">     -->
     <tr *ngFor="let p of filteredPrdList ; index as i ; trackBy:PrdTrackBy" >    
        <td>{{i+1}}</td>
      <td>{{p.name|uppercase}}</td>
      <!-- Properity binding -->
      <td><img [src]="p.imgUrl" alt="" width="100" height="100" appLightbox> </td>
      <!-- <td>{{p.quantity}}</td> -->

       <!-- template variable -->
        <!-- <td *ngIf="p.quantity!==0;else OutOfStock">{{p.quantity}}</td>
        <ng-template #OutOfStock>Out OF Stock</ng-template> -->

       <!-- Switch  -->

         <div [ngSwitch]="p.quantity" [ngClass]="{'bg-danger':p.quantity===0,'bg-warning':p.quantity===1}" [ngStyle]="{color:p.quantity===0?'white':'black'}">
           <td *ngSwitchCase="0">Out Of Stock</td>
           <td *ngSwitchCase="1">Last Item</td>
           <td *ngSwitchDefault>{{p.quantity}}</td>
         </div>

      <td >{{p.price}}</td>
      <td> <input type="number" class="form-control" #itemInp></td>
      <td><button class="btn btn-dark btn-sm" (click)="Buy(p.price, itemInp.value)" >Buy</button></td>
      <!-- <td><a [routerLink]="['/order',p.id]" class="btn btn-dark btn-sm">See More</a></td>-->
       <td><button class="btn btn-dark btn-sm" (click)="OpenPrdDtail(p.id)">See More</button></td>
          <td><button class="btn btn-dark btn-sm" (click)="DeleteById(p.id)">Delete</button></td>
   
      </tr>
    
  </tbody>
</table>
