.main-layout {
  display: flex;
  min-height: 80vh;
}

app-aside {
  width: 200px;
  background-color: #f3f3f3;
  padding: 10px;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
