<app-header></app-header> 
<div class="container" style="min-height: 100vh;">
  <!-- <app-home></app-home> -->
  <!-- <app-order></app-order> -->
   <!-- <app-product></app-product> -->
    <!-- <app-master-order></app-master-order> -->
      <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->

<!-- -------------------------------------------------------------- -->

<!-- <app-navbar></app-navbar>

<div class="main-layout">
  <app-aside></app-aside>
<div class="container">
  <app-main></app-main>
</div>
</div>
<app-footer></app-footer> -->
